body {
	font-family: "Hiragino Kaku Gothic Pro",sans-serif;
	font-size: 14px;
	padding: 0 12px;
	line-height: 23px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

hr {
	border: 0;
	height: 2px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}

h1 {
	padding-bottom: 0.4em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
